@import "{{ site.theme }}";

html, body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: green;
     }
#container {
     width: inherit;
     height: inherit;
     margin: 0;
     padding: 0;
     background-color: pink;
     }
     h1 {
         margin: 0;
         padding: 0;
        }
